@import "./ecomode.scss";


body {
    font-family: 'Tahoma', sans-serif;
    background-color: $secondary-grey;
    .navbar {
        justify-content: space-between;
        & > .form-search {
            position: relative;
            & > input {
                padding: 0.3rem 3rem;
                border-radius: 10px;
                font-size: 0.8rem;
                &::placeholder {
                    color: #a6a9a6;
                }
                &:hover,
                &:focus {
                    outline: none;
                }
            }
            i {
                position: absolute;
                left: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        & > .mode-eco {
            justify-content: end;
            input:checked {
                background-color: $primary-grey;
                border-color: $primary-grey;
            }
        }
    }
    #main {
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 5rem;
            height: calc(100vh - 2rem);
            border-radius: 10px;
            .nav {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & > .nav-item {
                    & > .nav-link {
                        color: #A6A9A6;
                        font-size: 0;
                        border-radius: 10px;
                        transition: .3s;
                        i {
                            font-size: 1.4rem;
                        }
                        &.active,
                        &:hover {
                            @extend .bg-grey-opacity;
                            color: white;
                        }
                    }
                }
            }
        }
        & > .content {
            max-width: calc(100% - 6rem);
            margin-right: 0;
            .inbox {
                .listing {
                    .inbox__header {
                        align-items: center;
                        justify-content: space-between;
                        h1 {
                            font-size: 1.3rem;
                        }
                        span {
                            border-radius: 10px;
                            padding: 0.2rem 0.4rem;
                            font-size: 0.8rem;
                        }
                        i {
                            background-color: white;
                            border: 1px solid $light-grey;
                            border-radius: 50%;
                            color: $primary-grey;
                            width: 26px;
                            height: 26px;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &:first-child {
                                transform: rotate(270deg);
                            }
                        }
                    }
                    .inbox__mails {
                        overflow-y: scroll;
                        height: calc(100vh - 160px);
                        .mail__overview {
                            border: 1px solid $light-grey;
                            border-radius: 10px;
                            background-color: white;
                            & > .mail__header {
                                align-items: center;
                                position: relative;
                                img {
                                    border-radius: 50%;
                                    height: 35px;
                                    width: 35px;
                                    border: 1px solid $light-grey;
                                }
                                h2 {
                                    font-size: 1rem;
                                    font-weight: bold;
                                }
                                .date {
                                    font-size: 0.8rem;
                                    position: absolute;
                                    right: 0;
                                    color: $primary-grey;
                                }
                            }
                            & > .object {
                                margin-left: 4rem;
                                font-size: 0.8rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            & > .content {
                                margin-left: 4rem;
                                color: $primary-grey;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
                .mail {
                    .recommandation {
                        border-radius: 10px;
                        font-weight: bold;
                    }
                    .write-mail {
                        border: 1px solid $light-grey;
                        overflow-y: scroll;
                        height: calc(100vh - 160px);
                        border-radius: 10px;
                        background-color: white;
                        position: relative;
                        .destinataires {
                            display: flex;
                            span {
                                border: 1px solid $light-grey;
                                border-radius: 10px;
                                background-color: $grey;
                                font-weight: bold;
                            }
                        }
                        input[type=text] {
                            border: none;
                            border-bottom: 1px solid $light-grey;
                            width: 100%;
                            font-size: 0.9rem;
                            &:focus {
                                outline: none;
                            }
                        }
                        & > input[type=text] {
                            font-weight: bold;
                            &::placeholder {
                                font-style: italic;
                                color: $primary-grey;
                            }
                        }
                        & > textarea {
                            resize: none;
                            width: calc(100% - 3rem);
                            height: 50%;
                            &:focus {
                                outline: none;
                            }
                        }
                        .form-bottom {
                            .impact {
                                display: block;
                                text-align: end;
                                position: relative;
                                .bubble-green {
                                    height: 3rem;
                                }
                                span {
                                    color: white;
                                    position: absolute;
                                    right: 2.3rem;
                                    top: 1.8rem;
                                    font-size: 0.9rem;
                                }
                            }
                            .edition {
                                border-top: 1px solid $light-grey;
                                border-bottom: 1px solid $light-grey;
                                flex-wrap: wrap;
                                select {
                                    width: auto;
                                    background-color: $grey;
                                    font-size: 0.9rem;
                                    cursor: pointer;
                                }
                                .icons {
                                    align-items: center;
                                    justify-content: space-between;
                                    min-width: 14rem;
                                    i {
                                        cursor: pointer;
                                        font-size: 1.4rem;
                                        &.icon-font-color {
                                            border-bottom: 4px solid $primary-green;
                                        }
                                    }
                                }
                            }
                            .form-actions {
                                align-items: center;
                                flex-wrap: wrap;
                                i {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


